body {
	padding: 60px 10px 10px;
	}
a {
	outline:none;
	}

.not-logged body {
	background:#333;
	}
.not-logged .main {
	display:none;
	}
.not-logged .login {
	width:480px;
	margin-top:120px;
	margin-left:-240px;
	}



.server-info {
	display:none;
	margin:9px 0 0;
	padding-bottom:5px;
	font-size:11px;
	color:#777;
	-moz-text-shadow:0 1px 0 #fff;
	-webkit-text-shadow:0 1px 0 #fff;
	-o-text-shadow:0 1px 0 #fff;
	-ms-text-shadow:0 1px 0 #fff;
	text-shadow:0 1px 0 #fff;
	}
.chart {
	position:relative;
	width:100%;
	height:350px;
	}
.chart-buttons {
	position:absolute;
	z-index:10;
	top:7px;
	right:7px;
	}
.notice {
	display:none;
	}
#js .notice {
	display:inline;
	}
.actions-content {
	height:194px;
	}
.slider-controls {
	padding-right:60px !important;
	}
	.jslider {
		top:13px !important;
		}
	input.slider {
		display:block !important;
		float:right;
		width:4em;
		margin:5px -6em 0 0;
		text-align:center;
		}
	.symbols-label {
		font-size:11px !important;
		}

/* spinners */
/* optional
input {
	margin:			0px;
	padding:		0px;
	width:			100px;
	}
input[type=number] {
	padding-right:	15px;
	text-align:		right;
	width:			85px;
	}
input.slider {
	padding-right:	15px;
	text-align:		right;
	width:			85px;
	} */

/* default style */
.spinControl {
	padding-right:	15px;
	text-align:		right;
	height:			20px;	/* 2x image height */
	margin-left:	-11px;	/* image width */
	position:		absolute;
	}
.spinControl.MOZ, .spinControl.IE6, .spinControl.IE7 {  /* small fix */
	margin-top:		1px;
	}
.spinControl input.UP,
.spinControl input.DOWN {
	cursor:			pointer;
	height:			10px;	/* image height */
	left:			0;
	position:		absolute;
	width:			11px;	/* image width */
	}
.spinControl input.DOWN {
	bottom:			0;
	}

